*.buildpath
*.project

app/tmp/logs/*
app/tmp/quota/*.xml
app/tmp/cache/cake_*
app/tmp/cache/models/cake_*
app/tmp/cache/persistent/cake_*
app/tmp/cache/reports/report*

.settings/*
*.pot
*.po
*.mo
*.scc