@CHARSET "ISO-8859-1";

@import 'reset.css';

html,body {
	background: #C3C0AF;
	min-height: 100%;
	}
	
body {
	font-size: 12px;
	line-height: 1em;
	}
	
html, body, div, p, th, td, select, input, button, textarea {
	color: #333333;
	font-family: "Segoe UI",Calibri,Helvetica,Arial,sans-serif;
	font-weight: normal;
	text-align: left;
	line-height: normal;
	font-size: 11px;
	}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	}
	
h2 {
	font-family: Cambria,Georgia,Times,"Times New Roman",serif;
	font-size: 2em;
	margin-bottom: 10px;
	}
	
h3 {
	font-family: Cambria,Georgia,Times,"Times New Roman",serif;
	font-size: 1.8em;
	line-height: 16px;
	margin: 5px 0 10px;
	color: #666666;
	}
	
table {
	border-collapse: collapse;
	background: #FFFFFF;
	}
	
strong {
	font-weight: bold;
	}
	
em {
	font-style: italic;
	}
	
p {
	margin: 0 0 10px;
	}
	
/*******************************************************
	GENERAL LAYOUT
*******************************************************/
.wrap {
	width: 980px;
	margin: 0 auto;
	border: 10px solid #EAECDF;
	background: #FFFFFF;
	position: relative;
	}
	
#content {
	padding: 10px 26px;
	position: relative;
	}

#content h2 {
	font-weight: normal;
	}
	
#content a {
	color: #985B18;
	text-decoration: none;
	}
	
#content a:hover {
	color: #EB6D1F;
	}
	
table.records {
	width: 100%;
	margin: 0 0 10px;
	}
	
table.records td,
table.records th {
	padding: 5px;
	border: 1px solid #BBBBBB;
	}
	
table.records th {
	background: #E5E5E5;
	color: #666666;
	border: 1px solid #BBBBBB;
	white-space: nowrap;
	}
	
table.records tr.subhead th {
	background: #EAECDF;
	}
	
table.records tr.alt td {
	background: #F9F9F9;
	}
	
/*---COLUMNS---*/
.column-layout {
	width: 100%;
	}
	
.column {
	left: 5px;
	}
	
	/*----SEE .row for column starts under Utility-----*/
	
.column-layout .row {
	padding-bottom: 1px;
	}
	
.column-layout .full {
	width: 100%;
	margin-right: 10px;
	}
	
.column-layout .triple {
	width: 692px;
	margin-right: 10px;
	}

.column-layout .double {
	width: 459px;
	margin-right: 10px;
	}
	
.column-layout .single {
	width: 224px;
	margin-right: 10px;
	}

.column-layout .endcol {
	margin-right: 0;
	}
	
.column-layout .row {
	margin-bottom: 10px;
	}
	
#logo {
	padding: 15px 26px;
	}
	
#logo h1 a {
	display: block;
	background: transparent url(../img/logo.png) left center no-repeat;
	width: 225px;
	height: 70px;
	text-indent: -10000px;
	}
	
/*---SEARCH---*/
#search {
	position: absolute;
	right: 26px;
	top: 40px;
	}

#search label {
	font-family: Cambria,Georgia,Times,"Times New Roman",serif;
	font-size: 1.5em;
	display: block;
	padding-bottom: 5px;
	}
	
#search .field {
	width: 15em;
	background: #FFF url(../img/magnifier-medium-left) 3px center no-repeat;
	border: 1px solid #BBBBBB;
	padding: 3px 3px 3px 21px;
	}
	
.match strong {
	border: 1px solid #C3C0AF;
	background: #EAECDF;
	}
	
/*--------------------------------------------------
	NAVIGATION
--------------------------------------------------*/
.navigation ul {
	overflow: hidden;
	padding: 0 25px;
	}
	
.navigation li {
	float: left;
	}
	
.navigation li a {
	text-decoration: none;
	display: block;
	padding: 5px 10px;
	}

#navigation ul {
	background: #878264;
	border: 1px solid #CBC5B5;
	border-width: 1px 0;
	}
	
#navigation li a {
	color: #FFFFFF;
	font-size: 13px;
	}
	
#navigation li a:hover {
	background: #EB6D1F;
	color: #FFFFFF;
	}
	
#navigation li.current a {
	background: #4F4A2C;
	}
	
#subnavigation ul {
	background: #4F4A2C;
	margin: -1px 0 0;
	}
	
#subnavigation li a {
	color: #EAECDF;
	font-weight: bold;
	padding: 8px 10px;
	}
	
#subnavigation li a:hover {
	color: #C3C0AF;
	}
	
#subnavigation li.current a {
	color: #EB6D1F;
	}

#top-nav {
	color: #938D6C;
	background: #4F4A2C;
	margin: 0pt auto;
	padding: 8px 10px 8px;
	width: 980px;
	text-align: right;
	font-weight: bold;
	}
	
#top-nav a {
	color: #EAECDF;
	text-decoration: none;
	}
	
#top-nav a:hover {
	color: #E96F23;
	}
	
/*******************************************************
	FORMS
*******************************************************/
.dataForm {
	width: 100%;
	}
	
.dataForm div.input label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
	}
	
.dataForm div.input {
	margin-bottom: 10px;
	}
	
.dataForm input {
	border: 1px solid #BBBBBB;
	padding: 3px;
	}
	
.dataForm div.text input,
.dataForm div.password input {
	width: 25em;
	}
	
.dataForm div.checkbox input{
	float: left;
	margin-right: 5px;
	}
	
.dataForm div.checkbox label{
	padding-top: 2px;
	}
	
.dataForm div.submit input,
.sub_btn {
	background: #878264;
	color: #FFFFFF;
	border: none;
	padding: 2px 8px;
	cursor: pointer;
	border: 1px solid #4F4A2C;
	}
	
.dataForm div.submit {
	margin-top: 10px;
	}
	
.dataForm div.submit input:hover,
.sub_btn:hover {
	background: #4F4A2C;
	
	}
	
.dataForm input.form-error {
	background: #FBE3E4;
	}
	
#login {
	margin: 0 auto;
	width: 300px;
	padding: 10px;
	background: #EAECDF;
	border: 1px solid #C3C0AF;
	}
	
#login input[type=text] {
	width: 285px;
	}
	
/*--------------------------------------------------
	STATS
--------------------------------------------------*/
.project-header {
	margin-bottom: 10px;
	}
	
.project-status {
	float: right;
	}
	
#content .project-title h2 {
	line-height: 1em;
	color: #E96F23;
	}
	
.project-title .inplace_field {
	font-size: 1em;
	width: 20em;
	}

.stats {
	margin-bottom: 10px;
	}
	
.stat p {
	margin: 0;
	}
	
.stats-panel {
	border-top: 3px solid #333;
	width: 100%;
	color: #666666;
	}
	
.stats-panel td {
	padding: 5px;
	border: 1px solid #BBBBBB;
	border-width: 0 1px 1px 0;
	}
	
.stats-panel td.first {
	border-left: 1px solid #BBBBBB;
	}
	
.stats-panel h3,
.stats-panel dt {
	font-family: Calibri,"Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 1.3em;
	margin: 0;
	}

.stats-panel dt {
	font-size: 14px;
	padding: 5px 0 5px;
	}
	
.stats-panel dd {
	border-bottom: 1px solid #BBBBBB;
	padding: 5px 0 5px;
	font-size: 14px;
	font-family: Cambria,Georgia,Times,"Times New Roman",serif;
	}
	
.stat-focus {
	font-weight: bold;
	font-size: 1.6em;
	line-height: 1.2em;
	color: #333333;
	}
	
.stat-supp {
	color: #666666;
	}
	
.stats .value {
	font-weight: bold;
	}
	
.stats-ticker {
	width: 100%;
	border: 1px solid #BBBBBB;
	}
	
.stats-ticker td {
	background: #E5E5E5;
	padding: 5px;
	color: #666;
	}
	
/*----- CHART -------*/
.chart .title {
	font-family: Georgia, "Times New Roman", serif;
	text-align: center;
	}
	
.chart .title h3 {
	font-size: 1.25em;
	color: #666666;
	}
	
/*--------------------------------------------------
	PAGINATION
--------------------------------------------------*/
.paginate {
	border-top: 1px solid #CCCCCC;
	xmargin: 10px 0 0;
	padding: 10px 0 0;
	}
	
.paginate span {	
	margin-right: 2px;
	position: relative;
	}

.paginate span a {
	border: 1px solid #C3C0AF;
	text-decoration: none;
	padding: 2px 6px;
	}

.paginate span a:hover {
	background: #F9F9F9;
	border: 1px solid #D6D2C7;
	}

.paginate .pos,
.paginate .current,
.paginate .disabled {
	padding: 2px 6px;
	}

.paginate .disabled {
	border: 1px solid #E7E7E7;
	color: #999999;
	}

.paginate .current {
	font-weight: bold;
	background: #EB6E1F;
	color: #FFFFFF;
	border: 1px solid #C34E08;
	}

.paginate .pos {
	background: #07577F;
	color: #FFFFFF;
	border: 1px solid #000;
	}
	
/*--------------------------------------------------
	Icons
--------------------------------------------------*/
.icon {
	padding-left: 15px;
	}

.delete {
	background: transparent url(../img/minus-small-circle.png) left center no-repeat;
	}
	
.star {
	background: transparent url(../img/star-small.png) left center no-repeat;
	}
	
.estar {
	background: transparent url(../img/star-small-empty.png) left center no-repeat;
	}
	
th.headerSortUp {
	background: #EAECDF url(../img/control-090-small.png) right center no-repeat !important;
	}
	
th.headerSortDown {
	background: #EAECDF url(../img/control-270-small.png) right center no-repeat !important;
	}
	
.favorite {
	position: absolute; 
	left: 9px; 
	margin-top: -5px; 
	width: 15px; 
	height: 23px;
	}
	
/*--------------------------------------------------
	MESSAGES
--------------------------------------------------*/
.message {
	padding: 8px 8px 8px 35px;
	border: 1px solid #BBBBBB;
	margin-bottom: 10px;
	}
	
.info {
	background: #DCE3F7 url(../img/information-frame.png) 10px center no-repeat;
	border: 1px solid #2D5AD5;
	}
	
.success {
	background: #E3FBE5 url(../img/tick-circle-frame.png) 10px center no-repeat;
	border: 1px solid #0CA015;
	}
	
.notice {
	background: #F3ECC5 url(../img/exclamation.png) 10px center no-repeat;
	border: 1px solid #EBDC25;
	}
	
.error {
	background: #FBE3E4 url(../img/exclamation-red-frame.png) 10px center no-repeat;
	border: 1px solid #B81111;
	}
	
/*--------------------------------------------------
	INPLACE EDITOR
--------------------------------------------------*/
.inplace_form {
	background: #FFFFFF;
	}
	
.inplace_field {
	width: 29em;
	}
	
/*--------------------------------------------------
	UTILITY
--------------------------------------------------*/
.sm {
	font-size: 10px;
	text-transform: uppercase;
	}
	
.em {
	font-style: italic;
	/*--Fix for IE7/8 in case the element is floated or positioned--*/
	overflow: hidden;
	}
	
.light {
	color: #666666;
	}
	
.nm {
	margin: 0;
	}
	
.header {
	cursor: pointer;
	}
	
.bullets li {
	list-style-type: square;
	margin-left: 15px;
	line-height: 1.5em;
	}
	
.nowrap {
	white-space: nowrap;	
	}

.aRight {
	text-align: right;
	}
	
.aLeft {
	text-align: left;
	}
	
.aCenter {
	text-align: center;
	}
	
.fLeft {
	float: left;
	}

.fRight {
	float: right;
	}
	
.clear {
	clear: both;
	overflow: auto;
	}
	
.pointer {
	cursor: pointer;
	}
	
.row:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
	
<!--[if IE]>
.row,
.clearfix {
	display: inline-block;
	zoom: 1;
	display: block;
	}
<![endif]-->