@CHARSET "ISO-8859-1";

@import 'reset.css';

html,body {
	background: #C3C0AF;
	min-height: 100%;
	}
	
body {
	font-size: 12px;
	}
	
html, body, div, p, th, td, select, input, textarea {
	color: #333333;
	font-family: Calibri,"Helvetica Neue",Arial,Helvetica,sans-serif;
	font-weight: normal;
	text-align: left;
	line-height: normal;
	}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	}
	
h2 {
	font-size: 2em;
	line-height: 18px;
	margin-bottom: 10px;
	}
	
h3 {
	font-family: Cambria,Georgia,Times,"Times New Roman",serif;
	font-size: 1.8em;
	line-height: 16px;
	margin: 5px 0 10px;
	color: #666666;
	}
	
table {
	border-collapse: collapse;
	background: #FFFFFF;
	}
	
strong {
	font-weight: bold;
	}
	
em {
	font-style: italic;
	}
	
p {
	margin: 0 0 10px;
	}
	
/*******************************************************
	GENERAL LAYOUT
*******************************************************/
.wrap {
	width: 980px;
	margin: 0 auto;
	border: 10px solid #EAECDF;
	background: #FFFFFF;
	position: relative;
	}
	
#content {
	padding: 15px 26px;
	}

#content h2 {
	font-family: Cambria,Georgia,Times,"Times New Roman",serif;
	font-size: 2.25em;
	font-weight: normal;
	margin: 0 0 15px;
	}
	
#content a {
	color: #985B18;
	text-decoration: none;
	}
	
#content a:hover {
	color: #EB6D1F;
	}
	
table.records {
	width: 100%;
	margin: 0 0 10px;
	}
	
table.records td,
table.records th {
	padding: 5px;
	border: 1px solid #BBBBBB;
	}
	
table.records th {
	background: #E5E5E5;
	color: #666666;
	border: 1px solid #BBBBBB;
	}
	
table.records tr.subhead th {
	background: #EAECDF;
	}
	
table.records tr.alt td {
	background: #F9F9F9;
	}
	
/*---COLUMNS---*/
.column-layout {
	width: 100%;
	}
	
.column {
	left: 5px;
	}
	
.column-layout .double {
	width: 459px;
	margin-right: 10px;
	}

.column-layout .endcol {
	margin-right: 0;
	}
	
#logo {
	padding: 15px 26px;
	}
	
#logo h1 a {
	display: block;
	background: transparent url(../img/xlogo.gif) left center no-repeat;
	width: 177px;
	height: 55px;
	text-indent: -10000px;
	}
	
/*---SEARCH---*/
#search {
	position: absolute;
	right: 26px;
	top: 32px;
	}

#search label {
	font-family: Cambria,Georgia,Times,"Times New Roman",serif;
	font-size: 1.5em;
	display: block;
	padding-bottom: 5px;
	}
	
#search .field {
	width: 15em;
	background: #FFF url(../img/magnifier-medium-left) 3px center no-repeat;
	border: 1px solid #BBBBBB;
	padding: 3px 3px 3px 21px;
	}
	
.match strong {
	border: 1px solid #C3C0AF;
	background: #EAECDF;
	}
	
/*--------------------------------------------------
	NAVIGATION
--------------------------------------------------*/
#navigation {
	overflow: hidden;
	}
	
#navigation ul {
	font-family: Calibri, Arial, Tahoma, sans-serif;
	overflow: hidden;
	background: #878264;
	padding: 0 25px;
	border: 1px solid #CBC5B5;
	border-width: 1px 0;
	}
	
#navigation li {
	float: left;
	}
	
#navigation li a {
	text-decoration: none;
	color: #FFFFFF;
	display: block;
	padding: 5px 10px;
	font-size: 14px;
	}
	
#navigation li a:hover {
	background: #EB6D1F;
	color: #FFFFFF;
	}
	
#navigation li.current a {
	background: #4F4A2C;
	}

	
/*--------------------------------------------------
	STATS
--------------------------------------------------*/
.project-header {
	margin-bottom: 10px;
	}
	
.project-status {
	height: 55px;
	float: right;
	margin-top: -55px;
	}
	
#content .project-title h2 {
	margin: 0 0 10px;
	}

.stats {
	margin-bottom: 10px;
	}
	
.stat p {
	margin: 0;
	}
	
.stats-panel {
	border-top: 3px solid #333;
	width: 100%;
	}
	
.stats-panel td {
	padding: 5px;
	border: 1px solid #BBBBBB;
	border-width: 0 1px 1px 0;
	}
	
.stats-panel td.first {
	border-left: 1px solid #BBBBBB;
	}
	
.stats-panel h3 {
	font-family: Calibri,"Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 1.2em;
	margin: 0;
	}
	
.stat-focus {
	font-weight: bold;
	font-size: 1.6em;
	}
	
.stat-supp {
	color: #666666;
	}
	
.stats .value {
	font-weight: bold;
	}
	
.stats-ticker {
	width: 100%;
	border: 1px solid #BBBBBB;
	}
	
.stats-ticker td {
	background: #E5E5E5;
	padding: 5px;
	color: #666;
	}
	
/*----- CHART -------*/
.chart .title {
	font-family: Georgia, "Times New Roman", serif;
	text-align: center;
	}
	
.chart .title h3 {
	font-size: 1.25em;
	color: #666666;
	}
	
/*--------------------------------------------------
	PAGINATION
--------------------------------------------------*/
.paginate {
	border-top: 1px solid #CCCCCC;
	xmargin: 10px 0 0;
	padding: 10px 0 0;
	}
	
.paginate span {	
	margin-right: 2px;
	position: relative;
	}

.paginate span a {
	border: 1px solid #C3C0AF;
	text-decoration: none;
	padding: 2px 6px;
	}

.paginate span a:hover {
	background: #F9F9F9;
	border: 1px solid #D6D2C7;
	}

.paginate .pos,
.paginate .current,
.paginate .disabled {
	padding: 2px 6px;
	}

.paginate .disabled {
	border: 1px solid #E7E7E7;
	color: #999999;
	}

.paginate .current {
	font-weight: bold;
	background: #EB6E1F;
	color: #FFFFFF;
	border: 1px solid #C34E08;
	}

.paginate .pos {
	background: #07577F;
	color: #FFFFFF;
	border: 1px solid #000;
	}
	
/*--------------------------------------------------
	CONTROLS
--------------------------------------------------*/
.delete {
	background: transparent url(../img/minus-small-circle.png) left center no-repeat;
	padding-left: 15px;
	}
	
/*--------------------------------------------------
	MESSAGES
--------------------------------------------------*/
.message {
	padding: 5px 5px 5px 30px;
	border: 1px solid #BBBBBB;
	}
	
.info {
	}
	
.notice {
	background: #F3ECC5 url(../img/exclamation.png) 8px center no-repeat;
	border: 1px solid #EBDC25;
	}
	
.error {
	background: #FBE3E4 url(../img/exclamation-red-frame.png) 8px center no-repeat;
	border: 1px solid #B81111;
	}
	
/*--------------------------------------------------
	UTILITY
--------------------------------------------------*/
.sm {
	font-size: 10px;
	text-transform: uppercase;
	}
	
.em {
	font-style: italic;
	}
	
.light {
	color: #666666;
	}
	
.nm {
	margin: 0;
	}
	
.bullets li {
	list-style-type: square;
	margin-left: 15px;
	line-height: 1.5em;
	}

.aRight {
	text-align: right;
	}
	
.aLeft {
	text-align: left;
	}
	
.aCenter {
	text-align: center;
	}
	
.fLeft {
	float: left;
	}

.fRight {
	float: right;
	}