@CHARSET "ISO-8859-1";

@import 'reset.css';
@import 'jquery.autocomplete.css';

html, body {
	font-family: Calibri,Arial,Tahoma,Verdana,sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	color: #333333;
}

body {
	line-height: 1.3em;
	margin: 40px 0;
}

table {
	border-collapse: collapse;
}

a {
	color: #005C9C;
	text-decoration: none;
	}
	
a:hover {
	text-decoration: underline;
	}
	
h1,h2,h3,h4,h5,h6 {
	line-height: 1em;
	font-weight: normal;
	}

h1 {
	font-size: 2em;
	color: #07577F;
	font-family: Georgia, serif;
	}
	
h2 {
	font-size: 24px;
	}
	
strong {
	color: #666;
	}

.wrap {
	width: 960px;
	margin: .5em auto;
}

#head {
	overflow: auto;
	padding: 5px 0;
}

#logo {
	float: left;
}

#logo h1 {
}

#navigation {
	font-family: Plantin,"Plantin std","Plantin","Baskerville",Georgia,"Times New Roman",serif;
	font-size: 90%;
	text-transform: uppercase;
	float: right;
	width: 22em;
}

#navigation li {
	display: block;
	float: left;
}

#navigation li a {
	color: #666666;
	display: block;
	float: left;
	margin: 0 15px;
}

#navigation li a:hover {
	color: #005C9C;
	border-top: 2px solid #D7D7D7;
	text-decoration: none;
	margin-top: -2px;
}

#navigation li a.current {
	color: #005C9C;
	border-top: 2px solid #333;
	margin-top: -2px;
}
	
#body {
	border-top: 1px solid #BFBFBF;
	padding: 20px 0;
	font-size: 13px;
}

#search {
	float: right;
	margin-left: 1em;
}

.project-header {
	margin-bottom: 1em;
}

.records {
	width: 100%;
	margin: 1em 0pt;
}

.records td {
	border: 1px solid #DDDDDD;
	padding: .5em;
}

.records th {
	background: #E5E5E5;
	border: 1px solid #BBBBBB;
	padding: .5em;
}

.records th a {
	display: block;
}

/*--------------------------------------------------
	QUOTA DETAILS
--------------------------------------------------*/
.stats-panel {
	border-top: 3px solid #333;
	width: 100%;
}

.stats-panel td {
	border-right: 1px solid #C2C2C2;
}

.stats-panel td.first {
	border-left: 1px solid #C2C2C2;
}

.stats-panel td .stat {
	padding: 5px;
}

.stats-panel td .stat h2 {
	font-size: 1.1em;
}

.stats-panel .stat p.stat-focus {
	font-size: 1.8em;
	font-weight: bold;
}

.stats-panel .stat p.stat-meta {
	color: #666;
}

.stats-ticker {
	width: 100%;
	border: 1px solid #C2C2C2;
}

.stats-ticker td {
	padding: .5em;
	background: #E7E7E7;
	color: #666;
}

.value {
	font-weight: bold;
}

.location {
	float: left;
}

.stats-controls {
	color: #666;
	float: right;
	margin-bottom: 8px;
	width: 210px;
}

.stats-controls dt {
	float: left;
	font-weight: bold;
	margin-right: 4px;
}

.stats-controls dd {
	float: left;
}

.stats-controls li {
	float: left;
	margin-left: 12px;
}

.stats-controls li.selected {
	font-weight: bold;
}

.chart {
	margin: 1.5em 0pt 1em;
}

/*---------------------------------------------------
	UTILITY CLASSES
---------------------------------------------------*/

.aRight {
	text-align: right;
}

.aLeft {
	text-align: left;
}

.aCenter {
	text-align: center;
}

tr.alt td {
	background: #F9F9F9;
}

.float-container {
	overflow: hidden;
}

.inc {
	color: #2CC42C;
}
	
.dec {
	color: #AA0033;
}

.sm {
	font-size: 11px;
}